<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>{{title}}</span>
    <span class="spacer"></span>
    <button mat-icon-button [disabled]="!saveEnabled" (click)="onSave()">
      <mat-icon>save</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
