<form class="settings" [formGroup]="parent">
  <div class="form-group">
    <div class="title">General</div>
    <section class="full-width">
      <mat-slide-toggle name="leadingZero" formControlName="leadingZero">Show leading zero</mat-slide-toggle>
    </section>
    <section class="full-width">
      <mat-slide-toggle name="blinkColumn" formControlName="blinkColumn" (change)="blinkColumnChange()">Blinking column</mat-slide-toggle>
    </section>
    <section class="full-width disable-blinking">
      <mat-slide-toggle name="doNotBlink" formControlName="doNotBlink" (change)="doNotBlinkChange()">Disable blinking</mat-slide-toggle>
      <span class="label">from</span>
      <input [ngxTimepicker]="pickerFrom" [format]="24" class="time-picker" readonly name="dnbFrom" formControlName="dnbFrom">
      <ngx-material-timepicker #pickerFrom></ngx-material-timepicker>
      <span class="label">to</span>
      <input [ngxTimepicker]="pickerTo" [format]="24" class="time-picker" readonly name="dnbTo" formControlName="dnbTo">
      <ngx-material-timepicker #pickerTo></ngx-material-timepicker>
    </section>
  </div>

  <div class="form-group">
    <div class="title">Brightness</div>
    <!-- <div class="slider-label">Minimum: {{data?.minBrightness}}</div>
    <mat-slider min="1" max="400" step="1" thumbLabel="true" class="full-width" name="minBrightness" [(ngModel)]="data && data.minBrightness"></mat-slider>
    <div class="slider-label">Maximum: {{data?.maxBrightness}}</div>
    <mat-slider min="1" max="400" step="1" thumbLabel="true" class="full-width" name="maxBrightness" [(ngModel)]="data && data.maxBrightness"></mat-slider> -->
    <mat-form-field class="half-width">
      <input matInput type="number" min="1" max="4000" placeholder="Minimum" name="minBrightness" formControlName="minBrightness">
    </mat-form-field>
    <br/>
    <mat-form-field class="half-width">
      <input matInput type="number" min="1" max="4000" placeholder="Maximum" name="maxBrightness" formControlName="maxBrightness">
    </mat-form-field>
  </div>
</form>