/*@import "~_theme_variables.scss";*/

:host {
    display: block;
    padding: 16px 24px;
}
section {
    margin-bottom: 20px;
}
.slider-label, .disable-blinking {
    font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif
}
.time-picker {
    border: 1px solid #949494;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 64px;
    font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
    text-align: center;
}
.label {
    display: inline-block;
    line-height: 24px;
    margin: 0 4px;
    vertical-align: top;
}
.time-picker {
    vertical-align: top;
}