<div class="page">
  <app-header [title]="title" [saveEnabled]="!loading && !error" (save)="save()"></app-header>
  <div *ngIf="loading; else elseBlock" class="loading">
    <mat-spinner></mat-spinner>
  </div>
  <ng-template #elseBlock>
    <app-tabs [settings]="settings"></app-tabs>
    <div class="error" *ngIf="error">{{error}}</div>
    <app-footer [info]="settings?.info"></app-footer>
  </ng-template>
</div>