.page {
    margin: 24px auto;
    background: #fff;
	max-width: 480px;
}
.loading {
    padding: 24px;
    text-align: center;

    mat-spinner {
        margin: 0 auto;
    }
}
.error {
    margin: 8px 24px;
    color: red;
    background: #fff;
}