<form class="settings" [formGroup]="form">
<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">settings</mat-icon>
      System
    </ng-template>
    <app-system-settings [parent]="form" [data]="settings?.system"></app-system-settings>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">schedule</mat-icon>
      Time
    </ng-template>
    <app-time-settings [parent]="form" [data]="settings?.time"></app-time-settings>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">settings_brightness</mat-icon>
      Display
    </ng-template>
    <app-display-settings [parent]="form" [data]="settings?.display"></app-display-settings>
  </mat-tab>
</mat-tab-group>
</form>