<form [formGroup]="parent" class="settings">
  <div class="form-group">
    <div class="title">NTP</div>
    <mat-form-field class="full-width">
      <input matInput placeholder="Server" name="ntpUrl" formControlName="ntpUrl">
    </mat-form-field>
    <mat-form-field class="half-width">
      <input type="number" matInput placeholder="Interval (minutes)" name="syncPeriod" formControlName="syncPeriod">
    </mat-form-field>
  </div>

  <div class="form-group">
    <div class="title">Timezone</div>
    <mat-form-field class="half-width">
      <input type="number" matInput placeholder="Offset (minutes)" name="offset" formControlName="offset">
    </mat-form-field>
    <br />
    <mat-slide-toggle name="useDST" formControlName="useDST" (change)="onUseDstChange()">Enable DST</mat-slide-toggle>
    <app-dst-select label="Start" name="startDST" abbr="DST" formControlName="startDST"></app-dst-select>
    <app-dst-select label="End" name="endDST" abbr="STD" formControlName="endDST"></app-dst-select>
  </div>
</form>