<form class="settings" [formGroup]="parent">
  <div class="form-group">
    <div class="title">WiFi</div>

    <mat-form-field class="full-width">
      <input matInput placeholder="SSID" name="ssid" formControlName="wifiSsid">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput type="password" placeholder="Password" name="wifiPwd" formControlName="wifiPwd">
    </mat-form-field>
  </div>

  <div class="form-group">
    <div class="title">Authentication</div>

    <mat-form-field class="full-width">
      <input matInput placeholder="User" name="authUser" formControlName="authUser">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input type="password" matInput placeholder="Password" name="authPwd" formControlName="authPwd">
    </mat-form-field>
  </div>

  <div class="form-group">
      <div class="title">OTA</div>
  
      <mat-form-field class="full-width">
        <input type="password" matInput placeholder="Password" name="otaPwd" formControlName="otaPwd">
      </mat-form-field>
    </div>
</form>