<form [formGroup]="form">
  <div class="label {{disabled ? 'disabled' : ''}}">{{label}}</div>
  <mat-form-field class="dst-item week">
    <mat-select placeholder="Week" name="week" formControlName="week" (selectionChange)="onWeekChange($event.value)">
      <mat-option [value]="1">First</mat-option>
      <mat-option [value]="2">Second</mat-option>
      <mat-option [value]="3">Third</mat-option>
      <mat-option [value]="4">Fourth</mat-option>
      <mat-option [value]="0">Last</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="dst-item day">
    <mat-select placeholder="Day" name="dow" formControlName="dow" (selectionChange)="onDowChange($event.value)">
      <mat-option [value]="1">Sun</mat-option>
      <mat-option [value]="2">Mon</mat-option>
      <mat-option [value]="3">Tue</mat-option>
      <mat-option [value]="4">Wed</mat-option>
      <mat-option [value]="5">Thu</mat-option>
      <mat-option [value]="6">Fri</mat-option>
      <mat-option [value]="7">Sat</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="dst-item month">
    <mat-select placeholder="Month" name="month" formControlName="month" (selectionChange)="onMonthChange($event.value)">
      <mat-option [value]="1">Jan</mat-option>
      <mat-option [value]="2">Feb</mat-option>
      <mat-option [value]="3">Mar</mat-option>
      <mat-option [value]="4">Apr</mat-option>
      <mat-option [value]="5">May</mat-option>
      <mat-option [value]="6">Jun</mat-option>
      <mat-option [value]="7">Jul</mat-option>
      <mat-option [value]="8">Aug</mat-option>
      <mat-option [value]="9">Sep</mat-option>
      <mat-option [value]="10">Oct</mat-option>
      <mat-option [value]="11">Nov</mat-option>
      <mat-option [value]="12">Dec</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="dst-item hour">
    <input type="number" matInput placeholder="Hour" name="hour" formControlName="hour" (change)="onHourChange($event.target.value)">
  </mat-form-field>
</form>