.dst-item  {
    margin-right: 2%;
}
.label {
    display: inline-block;
    width: 12%;
    font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;

    &.disabled {
        color: rgba(0, 0, 0, 0.38);
    }
}
.week {
    width: 25%;
}
.day {
    width: 20%;
}
.month {
    width: 20%;
}
.hour {
    width: 15%;
    margin-right: 0;
}