@import "theme.scss";

/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url("/assets/material-icons.woff2") format('woff2');
  }
  
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
  }

body {
    padding: 0;
    margin: 0;
    background: #eee;
}

form {
    .full-width {
        width: 100%;
    }
    .half-width {
        width: 50%;
    }
}

.form-group {
    margin-bottom: 16px;

    .title {
        color: $primary;
        font-size: 90%;
        margin-bottom: 8px;
    }
}